@charset "utf-8";
@use "../base/mixins" as *;

/** @section General layout */
body {
    font-family: var(--primary-font);
    color: var(--secondary);
    background: var(--primary-background);
}
main {
    padding: var(--overall-spacing);
    display: grid;
    place-items: center;
}
.attribution {
    font-size: 1.1rem;
    text-align: center;
    a {
        color: inherit;
    }
}
@include css-media-queries($from-breakpoint: two-column-card) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }
    main {
        flex: 1;
    }
}
