@charset "utf-8";

/** @section Fonts */
@font-face {
    font-family: "Fraunces";
    src: url("fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.woff2") format(woff2) tech(variations);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.woff2") format(woff2) tech(variations);
    font-weight: 500 700;
    font-style: normal;
    font-display: swap;
}
